<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">


    <localRepository>F:/Maven/Repository</localRepository>

    <pluginGroups>
    </pluginGroups>

    <proxies>
    </proxies>

    <servers>
    </servers>

    <mirrors>
    	<mirror>
            <id>maven2</id>
            <mirrorOf>central</mirrorOf>
            <url>http://central.maven.org/maven2/</url>
        </mirror>
		<mirror>
            <id>sonatype</id>
            <mirrorOf>sonatype</mirrorOf>
            <url>https://oss.sonatype.org/content/repositories/releases/</url>
        </mirror>
		<mirror>
            <id>entwinemedia</id>
            <mirrorOf>entwinemedia</mirrorOf>
            <url>http://maven.entwinemedia.com/content/repositories/releases/</url>
        </mirror>
		<mirror>
            <id>clojars</id>
            <mirrorOf>clojars</mirrorOf>
            <url>http://clojars.org/repo/</url>
        </mirror>
		<mirror>
            <id>spring</id>
            <mirrorOf>spring</mirrorOf>
            <url>http://repo.spring.io/plugins-release/</url>
        </mirror>
		<mirror>
            <id>atlassian</id>
            <mirrorOf>atlassian</mirrorOf>
            <url>https://maven.atlassian.com/content/repositories/atlassian-public/</url>
        </mirror>
		<mirror>
            <id>jboss</id>
            <mirrorOf>jboss</mirrorOf>
            <url>https://repository.jboss.org/nexus/content/repositories/releases/</url>
        </mirror>
		<mirror>
            <id>nuxeo</id>
            <mirrorOf>nuxeo</mirrorOf>
            <url>https://maven-eu.nuxeo.org/nexus/content/repositories/public-releases/</url>
        </mirror>
		<mirror>
            <id>xwiki</id>
            <mirrorOf>xwiki</mirrorOf>
            <url>http://maven.xwiki.org/releases/</url>
        </mirror>
		<mirror>
            <id>apache</id>
            <mirrorOf>apache</mirrorOf>
            <url>https://repository.apache.org/content/repositories/releases/</url>
        </mirror>
		<mirror>
            <id>clojars</id>
            <mirrorOf>clojars</mirrorOf>
            <url>http://clojars.org/repo/</url>
        </mirror>
		<mirror>
            <id>hortonworks</id>
            <mirrorOf>hortonworks</mirrorOf>
            <url>http://repo.hortonworks.com/content/repositories/releases/</url>
        </mirror>
		<mirror>
            <id>cloudera</id>
            <mirrorOf>cloudera</mirrorOf>
            <url>https://repository.cloudera.com/content/repositories/releases/</url>
        </mirror>
		<mirror>
            <id>alfresco</id>
            <mirrorOf>alfresco</mirrorOf>
            <url>https://artifacts.alfresco.com/nexus/content/repositories/public/</url>
        </mirror>
		<mirror>
            <id>java</id>
            <mirrorOf>java</mirrorOf>
            <url>https://maven.java.net/content/repositories/releases/</url>
        </mirror>
		<mirror>
            <id>boundlessgeo</id>
            <mirrorOf>boundlessgeo</mirrorOf>
            <url>http://repo.boundlessgeo.com/main/</url>
        </mirror>
		<mirror>
            <id>redhat</id>
            <mirrorOf>redhat</mirrorOf>
            <url>https://maven.repository.redhat.com/ga/</url>
        </mirror>
		<mirror>
            <id>opennms</id>
            <mirrorOf>opennms</mirrorOf>
            <url>http://repo.opennms.org/maven2/</url>
        </mirror>
		<mirror>
            <id>cloudsoftcorp</id>
            <mirrorOf>cloudsoftcorp</mirrorOf>
            <url>https://artifactory.cloudsoftcorp.com/artifactory/libs-release-local/</url>
        </mirror>
		<mirror>
            <id>jboss3</id>
            <mirrorOf>jboss3</mirrorOf>
            <url>https://repository.jboss.org/nexus/content/repositories/ea/</url>
        </mirror>
        <mirror>
            <id>UK</id>
            <mirrorOf>central</mirrorOf>
            <url>http://uk.maven.org/maven2</url>
        </mirror>
        <mirror>
            <id>net-cn</id>
            <mirrorOf>central</mirrorOf>
            <url>http://maven.net.cn/content/groups/public/</url>
        </mirror>
        <mirror>
            <id>osc</id>
            <mirrorOf>central</mirrorOf>
            <url>http://maven.oschina.net/content/groups/public/</url>
        </mirror>
        <mirror>
            <id>osc_thirdparty</id>
            <mirrorOf>thirdparty</mirrorOf>
            <url>http://maven.oschina.net/content/repositories/thirdparty/</url>
        </mirror>
    </mirrors>

    <profiles>
		<profile>
            <id>osc</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://central.maven.org/maven2/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://central.maven.org/maven2/</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>osc</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>osc</id>
                    <url>http://maven.oschina.net/content/groups/public/</url>
                </repository>
                <repository>
                    <id>osc_thirdparty</id>
                    <url>http://maven.oschina.net/content/repositories/thirdparty/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>osc</id>
                    <url>http://maven.oschina.net/content/groups/public/</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>net-cn</id>
            <repositories>
                <repository>
                    <id>net-cn</id>
                    <url>http://maven.net.cn/content/groups/public/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>net-cn</id>
                    <url>http://maven.net.cn/content/groups/public/</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>


</settings>
