<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
	<localRepository>D:/Maven/Repository</localRepository>

	<pluginGroups>
	</pluginGroups>

	<proxies>
	</proxies>

	<!-- <servers> </servers> -->

	<mirrors>
		<mirror>
			<id>maven2</id>
			<mirrorOf>central</mirrorOf>
			<url>http://central.maven.org/maven2/</url>
		</mirror>
		<mirror>
			<id>sonatype</id>
			<mirrorOf>central</mirrorOf>
			<url>https://oss.sonatype.org/content/repositories/releases/</url>
		</mirror>
	</mirrors>

	<profiles>
		<profile>
			<id>central</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>central</id>
					<url>http://central.maven.org/maven2/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://central.maven.org/maven2/</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>Sonatype</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>oss_public</id>
					<url>https://oss.sonatype.org/content/repositories/releases/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>oss_snapshots</id>
					<url>https://oss.sonatype.org/content/repositories/snapshots/</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>Sonatype</id>
					<url>https://oss.sonatype.org/content/repositories/releases/</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>OSChina</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>mon_public</id>
					<url>http://maven.oschina.net/content/groups/public/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>mon_thirdparty</id>
					<url>http://maven.oschina.net/content/repositories/thirdparty/
					</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>OSChina</id>
					<url>http://maven.oschina.net/content/groups/public/</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		
		<profile>
			<id>releases</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>clojars</id>
					<url>http://clojars.org/repo/</url>
				</repository>
				<repository>
					<id>spring-plugins</id>
					<url>http://repo.spring.io/plugins-release/</url>
				</repository>
				<repository>
					<id>spring-libs</id>
					<url>http://repo.spring.io/libs-milestone/</url>
				</repository>
				<repository>
					<id>atlassian</id>
					<url>https://maven.atlassian.com/content/repositories/atlassian-public/</url>
				</repository>
				<repository>
					<id>3rdparty</id>
					<url>https://maven.atlassian.com/3rdparty/</url>
				</repository>
				<repository>
					<id>jboss</id>
					<url>https://repository.jboss.org/nexus/content/repositories/releases/</url>
				</repository>
				<repository>
					<id>maven-eu-nuxeo</id>
					<url>https://maven-eu.nuxeo.org/nexus/content/repositories/public-releases/</url>
				</repository>
				<repository>
					<id>xwiki</id>
					<url>http://maven.xwiki.org/releases/</url>
				</repository>
				<repository>
					<id>apache</id>
					<url>https://repository.apache.org/content/repositories/releases/</url>
				</repository>
				<repository>
					<id>Hortonworks</id>
					<url>http://repo.hortonworks.com/content/repositories/releases/</url>
				</repository>
				<repository>
					<id>Redhat</id>
					<url>https://maven.repository.redhat.com/ga/</url>
				</repository>
				<repository>
					<id>Cloudera</id>
					<url>https://repository.cloudera.com/content/repositories/releases/</url>
				</repository>
				<repository>
					<id>Alfresco</id>
					<url>https://artifacts.alfresco.com/nexus/content/repositories/public/</url>
				</repository>
				<repository>
					<id>WSO2</id>
					<url>http://dist.wso2.org/maven2/</url>
				</repository>
				<repository>
					<id>Java-Net</id>
					<url>https://maven.java.net/content/repositories/releases/</url>
				</repository>
				<repository>
					<id>Boundless</id>
					<url>http://repo.boundlessgeo.com/main/</url>
				</repository>
				<repository>
					<id>OpenNMS</id>
					<url>http://repo.opennms.org/maven2/</url>
				</repository>
				<repository>
					<id>Cloudsoftcorp</id>
					<url>https://artifactory.cloudsoftcorp.com/artifactory/libs-release-local/</url>
				</repository>
				<repository>
					<id>JBoss-3rd-party</id>
					<url>https://repository.jboss.org/nexus/content/repositories/ea/</url>
				</repository>
				<repository>
					<id>3rdparty</id>
					<url>https://maven.atlassian.com/3rdparty/</url>
				</repository>
				<repository>
					<id>UK</id>
					<url>http://uk.maven.org/maven2/</url>
				</repository>
				<repository>
					<id>Maven-Net</id>
					<url>http://maven.net.cn/content/groups/public/</url>
				</repository>
				<repository>
					<id>elasticsearch</id>
					<url>http://maven.elasticsearch.org/releases/</url>
				</repository>
				<repository>
					<id>elasticsearch-releases</id>
					<url>https://artifacts.elastic.co/maven/</url>
				</repository>
				<repository>
					<id>entwinemedia</id>
					<url>http://maven.entwinemedia.com/content/repositories/releases/</url>
				</repository>
				<repository>
					<id>jahia</id>
					<url>http://maven.jahia.org/maven2/</url>
				</repository>
				<repository>
					<id>devtools</id>
					<url>https://devtools.jahia.com/nexus/content/groups/maven-jahia-org/</url>
				</repository>
			</repositories>
		</profile>
	</profiles>
</settings>
