<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
	<localRepository>D:/Maven/Repository</localRepository>

	<pluginGroups>
	</pluginGroups>

	<proxies>
	</proxies>

	<!-- <servers> </servers> -->

	<mirrors>
		<mirror>
			<id>maven2</id>
			<mirrorOf>*</mirrorOf>
			<url>http://central.maven.org/maven2/</url>
		</mirror>
		<mirror>
			<id>sonatype</id>
			<mirrorOf>central</mirrorOf>
			<url>https://oss.sonatype.org/content/repositories/releases/</url>
		</mirror>
		<mirror>
			<id>cloudera</id>
			<mirrorOf>central</mirrorOf>
			<url>https://repository.cloudera.com/content/repositories/releases/</url>
		</mirror>
		<mirror>
			<id>jahia</id>
			<mirrorOf>central</mirrorOf>
			<url>http://maven.jahia.org/maven2/</url>
		</mirror>
		<mirror>
			<id>clojars</id>
			<mirrorOf>central</mirrorOf>
			<url>http://clojars.org/repo/</url>
		</mirror>
		<mirror>
			<id>elasticsearch</id>
			<mirrorOf>central</mirrorOf>
			<url>http://maven.elasticsearch.org/releases/</url>
		</mirror>
		<mirror>
			<id>entwinemedia</id>
			<mirrorOf>central</mirrorOf>
			<url>http://maven.entwinemedia.com/content/repositories/releases/</url>
		</mirror>
		<mirror>
			<id>boundlessgeo</id>
			<mirrorOf>central</mirrorOf>
			<url>http://repo.boundlessgeo.com/main/</url>
		</mirror>
		<mirror>
			<id>3rdparty</id>
			<mirrorOf>central</mirrorOf>
			<url>https://maven.atlassian.com/3rdparty/</url>
		</mirror>
		<mirror>
			<id>spring</id>
			<mirrorOf>central</mirrorOf>
			<url>http://repo.spring.io/plugins-release/</url>
		</mirror>
		<mirror>
			<id>atlassian</id>
			<mirrorOf>central</mirrorOf>
			<url>https://maven.atlassian.com/content/repositories/atlassian-public/
			</url>
		</mirror>
		<mirror>
			<id>jboss</id>
			<mirrorOf>central</mirrorOf>
			<url>https://repository.jboss.org/nexus/content/repositories/releases/
			</url>
		</mirror>
		<mirror>
			<id>nuxeo</id>
			<mirrorOf>central</mirrorOf>
			<url>https://maven-eu.nuxeo.org/nexus/content/repositories/public-releases/
			</url>
		</mirror>
		<mirror>
			<id>xwiki</id>
			<mirrorOf>central</mirrorOf>
			<url>http://maven.xwiki.org/releases/</url>
		</mirror>
		<mirror>
			<id>apache</id>
			<mirrorOf>central</mirrorOf>
			<url>https://repository.apache.org/content/repositories/releases/
			</url>
		</mirror>
		<mirror>
			<id>hortonworks</id>
			<mirrorOf>central</mirrorOf>
			<url>http://repo.hortonworks.com/content/repositories/releases/</url>
		</mirror>
		<mirror>
			<id>alfresco</id>
			<mirrorOf>central</mirrorOf>
			<url>https://artifacts.alfresco.com/nexus/content/repositories/public/
			</url>
		</mirror>
		<mirror>
			<id>java</id>
			<mirrorOf>central</mirrorOf>
			<url>https://maven.java.net/content/repositories/releases/</url>
		</mirror>
		<mirror>
			<id>boundlessgeo</id>
			<mirrorOf>central</mirrorOf>
			<url>http://repo.boundlessgeo.com/main/</url>
		</mirror>
		<mirror>
			<id>redhat</id>
			<mirrorOf>central</mirrorOf>
			<url>https://maven.repository.redhat.com/ga/</url>
		</mirror>
		<mirror>
			<id>opennms</id>
			<mirrorOf>central</mirrorOf>
			<url>http://repo.opennms.org/maven2/</url>
		</mirror>
		<mirror>
			<id>cloudsoftcorp</id>
			<mirrorOf>central</mirrorOf>
			<url>https://artifactory.cloudsoftcorp.com/artifactory/libs-release-local/
			</url>
		</mirror>
		<mirror>
			<id>jboss3</id>
			<mirrorOf>central</mirrorOf>
			<url>https://repository.jboss.org/nexus/content/repositories/ea/
			</url>
		</mirror>
		<mirror>
			<id>UK</id>
			<mirrorOf>central</mirrorOf>
			<url>http://uk.maven.org/maven2</url>
		</mirror>
		<mirror>
			<id>net-cn</id>
			<mirrorOf>central</mirrorOf>
			<url>http://maven.net.cn/content/groups/public/</url>
		</mirror>
		<mirror>
			<id>osc</id>
			<mirrorOf>central</mirrorOf>
			<url>http://maven.oschina.net/content/groups/public/</url>
		</mirror>
		<mirror>
			<id>osc_thirdparty</id>
			<mirrorOf>central</mirrorOf>
			<url>http://maven.oschina.net/content/repositories/thirdparty/</url>
		</mirror>
	</mirrors>

	<profiles>
		<!-- <profile>
			<id>cmo</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>central</id>
					<url>http://central.maven.org/maven2/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<layout>default</layout>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://central.maven.org/maven2/</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>oss</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>oss_public</id>
					<url>https://oss.sonatype.org/content/repositories/releases/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<layout>default</layout>
				</repository>
				<repository>
					<id>oss_snapshots</id>
					<url>https://oss.sonatype.org/content/repositories/snapshots/</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<layout>default</layout>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>oss</id>
					<url>https://oss.sonatype.org/content/repositories/releases/</url>
				</pluginRepository>
			</pluginRepositories>
		</profile> -->
		<!-- <profile>
			<id>mon</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>mon_public</id>
					<url>http://maven.oschina.net/content/groups/public/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<layout>default</layout>
				</repository>
				<repository>
					<id>mon_thirdparty</id>
					<url>http://maven.oschina.net/content/repositories/thirdparty/
					</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<layout>default</layout>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>osc</id>
					<url>http://maven.oschina.net/content/groups/public/</url>
				</pluginRepository>
			</pluginRepositories>
		</profile> -->
		
		<!-- <profile>
			<id>elasticsearch</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>es_public</id>
					<url>http://maven.elasticsearch.org/releases/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<layout>default</layout>
				</repository>
			</repositories>
		</profile> -->
		<!-- <profile>
			<id>cloudera</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>ce_releases</id>
					<url>https://repository.cloudera.com/content/repositories/releases/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<layout>default</layout>
				</repository>
			</repositories>
		</profile> -->
	</profiles>
</settings>
