#Data Node Default Options
[NDBD DEFAULT]    
NoOfReplicas=3
TcpBind_INADDR_ANY=true
DataMemory=512M
DataDir=/usr/local/mysql/mysql-cluster/data
BackupDataDir=/usr/local/mysql/mysql-cluster/BACKUP/data
#ServerPort=2202
LateAlloc=1
StartNoNodeGroupTimeout=0
MaxBufferedEpochs=100
MaxBufferedEpochBytes=26214400
MaxDiskWriteSpeed=100M
MinDiskWriteSpeed=10M
MaxDiskWriteSpeedOtherNodeRestart=100M
MaxDiskWriteSpeedOwnRestart=200M
BackupLogBufferSize=16M
BackupReportFrequency=10
BackupDiskWriteSpeedPct=50
CompressedBackup=true
CompressedLCP=false
MemReportFrequency=0
LogLevelStartup=1
LogLevelShutdown=0
LogLevelStatistic=0
LogLevelCheckpoint=0
LogLevelNodeRestart=0
LogLevelConnection=0
LogLevelError=0
LogLevelCongestion=0
LogLevelInfo=0
EventLogBufferSize=8K
StartupStatusReportFrequency=0
MinFreePct=5
MaxNoOfTables=4096
MaxNoOfOrderedIndexes=2048
MaxNoOfUniqueHashIndexes=1024
MaxNoOfAttributes=24576
MaxNoOfTriggers=10240
MaxNoOfSubscriptions=0
MaxNoOfSubscribers=0
MaxNoOfConcurrentSubOperations=256
StringMemory=50
MaxAllocate=32M
MaxNoOfSavedMessages=25
LcpScanProgressTimeout=60
Diskless=false
LockPagesInMainMemory=1
Arbitration=Default
DiskPageBufferEntries=10
DiskPageBufferMemory=64M
SharedGlobalMemory=32M
DiskIOThreadPool=7
DiskSyncSize=4096K
LongMessageBuffer=64M
MaxParallelCopyInstances=0
MaxNoOfConcurrentTransactions=409600
MaxNoOfConcurrentOperations=3276800
MaxDMLOperationsPerTransaction=4294967295
MaxNoOfConcurrentScans=512
MaxParallelScansPerFragment=512
BatchSizePerLocalScan=512
FragmentLogFileSize=256M
NoOfFragmentLogFiles=16
InitFragmentLogFiles=SPARSE
RedoBuffer=32M
RedoOverCommitCounter=3
RedoOverCommitLimit=20
TwoPassInitialNodeRestartCopy=false
BuildIndexThreads=0
MaxNoOfExecutionThreads=15
RealtimeScheduler=true
SchedulerResponsiveness=5
SchedulerSpinTimer=400
TimeBetweenLocalCheckpoints=20
TimeBetweenGlobalCheckpoints=2000
TimeBetweenGlobalCheckpointsTimeout=120000
TimeBetweenEpochs=100
TimeBetweenEpochsTimeout=32000
TimeBetweenWatchdogCheck=6000
TimeBetweenWatchdogCheckInitial=60000
TransactionInactiveTimeout=4294967039
TransactionDeadlockDetectionTimeout=15000
TimeBetweenInactiveTransactionAbortCheck=1000
HeartbeatIntervalDbDb=15000
HeartbeatIntervalDbApi=15000
ConnectCheckIntervalDelay=0
StartPartialTimeout=30000
StartPartitionedTimeout=4294967039
StartFailureTimeout=0
ArbitrationTimeout=7500
RestartSubscriberConnectTimeout=12000
StopOnError=0
CrashOnCorruptedTuple=true
StartFailRetryDelay=0
MaxStartFailRetries=3

#Mgr Node Default Options
[NDB_MGMD DEFAULT]
DataDir=/usr/local/mysql/mysql-cluster/mgrdata
#Mgr Node Options
[NDB_MGMD]
HostName=cps-server80
[NDB_MGMD]
HostName=cps-server81
[NDB_MGMD]
HostName=cps-server82

#Data Node Options
[NDBD]
HostName=cps-server80
[NDBD]                  
HostName=cps-server81
[NDBD]                  
HostName=cps-server82

#SQL Node Options
[MYSQLD]               
HostName=cps-server80
[MYSQLD]
HostName=cps-server81
[MYSQLD]
HostName=cps-server82
